<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hexapod">

    <xacro:include filename="$(find hex)/models/hexapod/xacro/macro.leg.xacro"/>
    <xacro:include filename="$(find hex)/models/hexapod/xacro/macro.gazebo_control.xacro"/>
    <xacro:include filename="$(find hex)/models/hexapod/xacro/macro.imu.xacro"/>
    <xacro:macro name="hexapod">
        <link name="base">
            <visual>
                <geometry>
                    <mesh filename="package://hex/models/hexapod/meshes/base/base.stl" scale="0.8 0.8 1.8"/>
                </geometry>
                <origin xyz="0.0 0 0"/>
                <material name="red">
                    <color rgba="0.5 0 0.2 1"/>
                </material>
            </visual>
            <inertial>
                <mass value="2"/>
                <inertia ixx="0.04" ixy="0.0" ixz="0.0" iyy="0.17" iyz="0.0" izz="0.25"/>
            </inertial>    
            <collision>
                <geometry>
                    <mesh filename="package://hex/models/hexapod/meshes/base/base.stl" scale="0.8 0.8 1.8"/>
                <origin xyz="0.0 0.0 0"/>
                </geometry>
            </collision>
        </link>

        <xacro:leg 
        namespace="leg1" 
        legnumber="1" 
        xyz="0.65 0.45 0.03" 
        lower_bc = "0"  
        upper_bc = "2.27" 
        lower_cf = "0.3" 
        upper_cf = "1.4" 
        lower_ft = "-2.27" 
        upper_ft = "-1.57"/>

        <xacro:leg 
        namespace="leg2" 
        legnumber="2" 
        xyz="0 0.45 0.03" 
        lower_bc = "0.707"  
        upper_bc = "2.27" 
        lower_cf = "0.3" 
        upper_cf = "1.4" 
        lower_ft = "-2.27" 
        upper_ft = "-1.57"/>

        <xacro:leg 
        namespace="leg3" 
        legnumber="3" 
        xyz="-0.65 0.45 0.03" 
        lower_bc = "0.707"  
        upper_bc = "3.14" 
        lower_cf = "0.3" 
        upper_cf = "1.4" 
        lower_ft = "-2.27" 
        upper_ft = "-1.57"/>

        <xacro:leg 
        namespace="leg4" 
        legnumber="4" 
        xyz="0.65 -0.45 0.03" 
        lower_bc = "0"  
        upper_bc = "-2.27" 
        lower_cf = "0.3" 
        upper_cf = "1.4" 
        lower_ft = "-2.27" 
        upper_ft = "-1.57"/>

        <xacro:leg 
        namespace="leg5" 
        legnumber="5" 
        xyz="0 -0.45 0.03" 
        lower_bc = "-2.27"  
        upper_bc = "-0.707" 
        lower_cf = "0.3" 
        upper_cf = "1.4" 
        lower_ft = "-2.27" 
        upper_ft = "-1.57"/>

        <xacro:leg 
        namespace="leg6" 
        legnumber="6" 
        xyz="-0.65 -0.45 0.03" 
        lower_bc = "-3.847"  
        upper_bc = "-0.707" 
        lower_cf = "0.3" 
        upper_cf = "1.4" 
        lower_ft = "-2.27" 
        upper_ft = "-1.57"/>
        <xacro:gazebo_control/>
        <xacro:imu legnumber="1"/>
        <xacro:imu legnumber="2"/>
        <xacro:imu legnumber="3"/>
        <xacro:imu legnumber="4"/>
        <xacro:imu legnumber="5"/>
        <xacro:imu legnumber="6"/>

    </xacro:macro>
</robot>