<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hexapod">
    <xacro:include filename="$(find hex_description)/models/hexapod/xacro/macro.intertial.xacro"/>
    <xacro:include filename="$(find hex_description)/models/hexapod/xacro/propertys.xacro"/>


    <link name="cover_top">
        <visual>
            <geometry>
                <mesh filename="package://hex_description/models/hexapod/meshes/cover_top.stl" scale="0.01 0.01 0.01"/>
            </geometry>
            <origin xyz="-0.02 -0 0"/>
            <material name="cover_top"/>
        </visual>
        <inertial>
            <xacro:box_inertia m="${cover_top_mass}" x="1.6" y="1" z="0.1"/>
        </inertial>
        <collision>
            <geometry>
                <mesh filename="package://hex_description/models/hexapod/meshes/cover_top.stl" scale="0.01 0.01 0.01"/>
            <origin xyz="-0.02 -0 0"/>
            </geometry>
        </collision> 
    </link>

    <joint name="body_top_cover_top_joint" type="fixed">
        <parent link="body_top"/>
        <child link="cover_top"/>
        <origin rpy="0.0 0.0 -0.05" xyz="0.0 -0.115 0.31"/>
    </joint>
    
    <link name="body_top">
        <visual>
        <geometry>
            <mesh filename="package://hex_description/models/hexapod/meshes/body_top.stl" scale="0.01 0.01 0.01"/>
        </geometry>
        <origin xyz="0 -0.42 0"/>
        <material name="body_top"/>
        </visual>
        <inertial>
            <xacro:box_inertia m="${body_top_mass}" x="1.6" y="1" z="0.1"/>
        </inertial>
        <collision>
        <geometry>
            <mesh filename="package://hex_description/models/hexapod/meshes/body_top.stl" scale="0.01 0.01 0.01"/>
            <origin xyz="0 -0.42 0"/>
        </geometry>
        </collision> 
    </link>

    <joint name="body_top_body_bottom_joint" type="fixed">
        <parent link="body_bottom"/>
        <child link="body_top"/>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.02 0"/>
    </joint>
    
    <link name="board_bracket">
        <visual>
        <geometry>
            <mesh filename="package://hex_description/models/hexapod/meshes/board_bracket.stl" scale="0.01 0.01 0.01"/>
        </geometry>
        <origin xyz="0 0 0"/>
        <material name="board_bracket"/>
        </visual>
        <inertial>
            <xacro:box_inertia m="${board_bracket_mass}" x="1.1" y="0.6" z="0.06"/>
        </inertial>
        <collision>
        <geometry>
            <mesh filename="package://hex_description/models/hexapod/meshes/board_bracket.stl" scale="0.01 0.01 0.01"/>
        <origin xyz="0 0 0"/>
        </geometry>
        </collision> 
    </link> 

    <joint name="base_bottom_bracket_board" type="fixed">
        <parent link="body_bottom"/>
        <child link="board_bracket"/>
       <origin rpy="0.0 0.0 0.0" xyz="0 -0.03 0"/>
    </joint>
    
   <link name="body_bottom">
    <visual>
      <geometry>
        <mesh filename="package://hex_description/models/hexapod/meshes/body_bottom.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <origin xyz="0.0 -0.425 0"/>
        <material name="body_bottom"/>
    </visual>
    <inertial>
      <xacro:box_inertia m="${body_bottom_mass}" x="1.6" y="1" z="0.1"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://hex_description/models/hexapod/meshes/body_bottom.stl" scale="0.01 0.01 0.01"/>
        <origin xyz="0.0 -0.425 0"/>
      </geometry>
    </collision>
  </link>


  <link name="base_footprint"/>
    <joint name="base_footprint_base_bottom_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="body_bottom"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint> 
</robot>