<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="leg_transmissions" params="legnumber">

        <transmission name="tran1_${legnumber}">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="base_coxa_joint_${legnumber}">
				<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="motor1">
				<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>
        
        <transmission name="tran2_${legnumber}">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="coxa_femur_joint_${legnumber}">
				<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="motor2">
				<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

        <transmission name="tran3_${legnumber}">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="femur_tibia_joint_${legnumber}">
				<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="motor3">
				<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

    </xacro:macro>
</robot>