<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hexapod">
    <xacro:include filename="$(find hex)/models/hexapod_new/xacro/macro.intertial.xacro"/>
    <xacro:include filename="$(find hex)/models/hexapod_new/xacro/propertys.xacro"/>
    <xacro:include filename="$(find hex)/models/hexapod_new/xacro/chasis.urdf.xacro"/>
    <xacro:include filename="$(find hex)/models/hexapod_new/xacro/macro.leg.urdf.xacro"/>
<!--     <xacro:include filename="$(find hex)/models/hexapod_new/xacro/macro.gazebo_control.xacro"/>
 -->
    <xacro:leg 
    legnumber="1" 
    xyz="0.7 0.435 0.05"
    rpy="0 0 2.44"/>

     <xacro:leg 
    legnumber="2" 
    xyz="-0.03 0.59 0.05"
    rpy="0 0 3.14"/>

    <xacro:leg 
    legnumber="3" 
    xyz="-0.76 0.39 0.05"
    rpy="0 0 3.84"/>

    <xacro:leg 
    legnumber="4" 
    xyz="-0.77 -0.345 0.05"
    rpy="0 0 -0.7"/>

    <xacro:leg 
    legnumber="5" 
    xyz="-0.054 -0.565 0.05"
    rpy="0 0 0"/>

    <xacro:leg 
    legnumber="6" 
    xyz="0.69 -0.435 0.05"
    rpy="0 0 0.7"/>
</robot>