<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="leg_transmissions" params="legnumber">

        <transmission name="tran1">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="base-coxa-joint-${legnumber}">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="motor1">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>
        
        <transmission name="tran2">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="coxa-femur-joint-${legnumber}">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="motor2">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

        <transmission name="tran3">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="femur-tibia-joint-${legnumber}">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="motor3">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

    </xacro:macro>
</robot>