<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hexapod">
    <xacro:arg name="namespace" default=""/>

    <xacro:include filename="$(find hex)/models/monoped/xacro/macro.monoped.xacro"/>

    <xacro:macro name="name">
        <link name="base">
            <visual>
                <geometry>
                    <mesh filename="package://hex/models/hexapod/meshes/base/base.stl" scale="0.8 0.8 1.8"/>
                </geometry>
                <origin xyz="0.0 0 0"/>
                <material name="red">
                    <color rgba="0.5 0 0.2 1"/>
                </material>
            </visual>
            <inertial>
                <mass value="2"/>
                <inertia ixx="0.04" ixy="0.0" ixz="0.0" iyy="0.17" iyz="0.0" izz="0.25"/>
            </inertial>    
            <collision>
                <geometry>
                    <mesh filename="package://hex/models/hexapod/meshes/base/base.stl" scale="0.8 0.8 1.8"/>
                <origin xyz="0.0 0.0 0"/>
                </geometry>
            </collision>
        </link>

        <xacro:leg 
        namespace="leg1" 
        legnumber="6" 
        xyz="-0.65 -0.45 0.03" 
        lower_bc = "-3.847"  
        upper_bc = "-0.707" 
        lower_cf = "0.3" 
        upper_cf = "0.3" 
        lower_ft = "-2.27" 
        upper_ft = "-1.57"/>

    </xacro:macro>
    <xacro:name/>
</robot>